<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Product</key>
	<string>BetterTouchTool</string>
	<key>Name</key>
	<string>Rocky Wu</string>
	<key>Email</key>
	<string>rocky823@gmail.com</string>
	<key>OrderID</key>
	<string>8abbdf1206824ca12a04e0e76399bb98</string>
	<key>LicenseType</key>
	<string>paddle_lifetime</string>
	<key>Licenses</key>
	<string>1</string>
	<key>Timestamp</key>
	<string>1725326637</string>
	<key>CheckoutName</key>
	<string>SINOPAC  JCB</string>
	<key>TransactionID</key>
	<string>279606188-chre80bd026fcdf-7d28eb91ac</string>
	<key>Signature</key>
	<data>{{- (bitwarden "item" "4e344b06-4c40-47da-bd34-b4d900461624").notes -}}
</data>
</dict>
</plist>
